// Styles for every page
@media (min-width: 768px)
    li.dropdown:hover
        div.dropdown-menu
            margin: 0
            display: block
*
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
body
    position: relative
    min-height: 100vh;
@media (max-width: 768px)
    .background-image:before
        content: ""
        display: block
        position: fixed
        left: 0
        top: 0
        width: 100%
        height: 100%
        z-index: -10
footer
    position: absolute
    width: 100%
    bottom: 0
    color: black
    text-align: center
    background: white
    i
        font-size: 2em
        color: black
    i:hover
        color: purple
        transition: 1s
a
    cursor: pointer
.navbar
    transition: 1s
// Utilty Classes
.center
    display: flex
    align-items: center

.background-image
    margin-top: 3.5em
    background-repeat: no-repeat
    background-attachment: fixed
    background-position: center
    background-size: cover
.sticky-top
    height: 3.5em

.start
    padding-top: 3.5em
@media (min-width: 768px)
    .end
        padding-bottom: 8em
@media (max-width: 768px)
    .end
        padding-bottom: 12em

// Title rect
.header-text
    background: rgba(66, 65, 65, 0.89)
    padding: .5em 1em .5em 1em
    border-radius: .5em
    color: white