li.dropdown:hover
    div.dropdown-menu
        margin: 0
        // avoid 1px margin
        display: block
body
    position: relative
    min-height: 100vh;
.container
    // height: 100%;
    padding-bottom: 10em; 
    // avoid overlap
footer
    position: absolute
    width: 100%
    bottom: 0
    text-align: center
    i
        font-size: 2em