<div class="container-fluid">

    <div class="row">
        <div class="col mb-2">

            This Website was made for the 2019-2020 Business Professionals
             of America Website Design Team Competition by members of
            the Huron BPA chapter. The prompt was to create a website
             detailing the planning and construction of a biofriendly home.

        </div>
    </div>
    <div class="row pb-2 mt-2">
        <div class="col">
            <a href="mailto:huron.bpa@gmail.com"><i class="fas fa-paper-plane"></i></a>
        </div>
        <div class="col">
            <a target="_blank" href="https://github.com/huron-bpa/huron-bpa.github.io"><i class="fas fa-code"></i></a>
        </div>
        <div class="col">
            <a target="_blank" href="https://twitter.com/National_BPA"><i class="fab fa-twitter"></i></a>
        </div>
        <div class="col">
            <a target="_blank" href="https://facebook.com/businessprofessionalsofamerica"><i class="fab fa-facebook"></i></a>
        </div>
    </div>
</div>