<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <a class="navbar-brand" href="/">Biodome Builder</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapse">
        <ul class="navbar-nav ml-auto ">
            <li class="nav-item"><a href="/info/why.html" class="nav-link">Why biohomes?</a></li>
            <li class="nav-item"><a href="/info/what.html" class="nav-link">What is a biohome?</a></li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Types</a>
                <div class="dropdown-menu">
                    <a href="/types/geothermal.html" class="dropdown-item">Geothermal</a>
                    <a href="/types/earthship.html" class="dropdown-item">Earthship</a>
                    <a href="/types/wind.html" class="dropdown-item">Wind</a>
                    <a href="/types/solar.html" class="dropdown-item">Solar</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a href="/info/challenges.html" class="nav-link">Challenges</a>
            </li>

            <li class="nav-item dropdown ">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"> More </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="/more/about.html" class="dropdown-item">About Us</a>
                    <a href="/more/resources.html" class="dropdown-item">Resources</a>
                    <a href="/more/sources.html" class="dropdown-item">Sources</a>
                    <a href="/more/finder.html" class="dropdown-item">Architect Locator</a>
                </div>
            </li>
        </ul>
    </div>
</nav>