<nav class="navbar navbar-expand-lg bg-light navbar-light">
    <a class="navbar-brand" href="/">Creating a Biofriendly Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapse">
        <ul class="navbar-nav">
            <li class="nav-item"><a href="/why.html" class="nav-link">Why Bioshelters?</a></li>
            <li class="nav-item dropdown">
                <a href="/info/select.html" class="nav-link dropdown-toggle">Selecting a Bioshelter</a>
                <div class="dropdown-menu">
                    <a href="/info/select.html" class="dropdown-item">How to choose</a>
                    <div class="dropdown-divider"></div>
                    <a href="/info/geothermal.html" class="dropdown-item">Geothermal</a>
                    <a href="/info/earthship.html" class="dropdown-item">Earthship</a>
                    <a href="/info/wind.html" class="dropdown-item">Wind</a>
                    <a href="/info/solar.html" class="dropdown-item">Solar</a>

                </div>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle">
                    More
                </a>
                <div class="dropdown-menu">
                    <a href="/more/about.html" class="dropdown-item">About Us</a>
                    <a href="/more/sources.html" class="dropdown-item">Sources</a>
                </div>
            </li>
        </ul>
    </div>
</nav>